
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    background-color: hsl(212, 45%, 89%)
    
}

img {
  width: 310px;
  margin: 5px;
  border-radius: 12px;
  }

  p { 
    font-size: 1rem; 
    text-align: center; 
    color:hsl(220, 15%, 55%);
    margin: 20px;
}
  .container {
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 10px 10px;
    box-shadow: 0 7px 8px 0 rgba(0,0,0,0.1);
    width: 319px;
    height: 496px;
    border-radius: 15px;
    font-family: 'Outfit', sans-serif;
    background-color: white;
   
  }

  .title1 {

    color: hsl(218, 44%, 22%);
    text-align: center;
    font-size: 1.5rem; 
    font-weight: 700;
    margin: 15px;
  }

  .attribution { 

    color: hsl(228, 45%, 44%); 
    margin-top: 25px;
    
    }